<header class="site-header" role="banner">
    <div class="wrapper">
      <!-- Site Title -->
      <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  
      <!-- Site Description -->
      {% if site.description %}
        <p class="site-description">{{ site.description | escape }}</p>
      {% endif %}
  
      <!-- Navigation Menu -->
      <nav class="site-nav">
        {% if site.pages %}
          <input type="checkbox" id="menu-trigger" class="menu-trigger">
          <label for="menu-trigger">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path fill="currentColor" d="M18,1.484c0-0.82-0.664-1.484-1.484-1.484H1.484C0.664,0,0,0.664,0,1.484
                C0,2.305,0.664,2.969,1.484,2.969h15.032C17.336,2.969,18,2.305,18,1.484z M18,7.516c0-0.82-0.664-1.484-1.484-1.484H1.484
                C0.664,6.031,0,6.695,0,7.516C0,8.336,0.664,9,1.484,9h15.032C17.336,9,18,8.336,18,7.516z M18,13.516
                c0-0.82-0.664-1.484-1.484-1.484H1.484C0.664,12.031,0,12.695,0,13.516C0,14.336,0.664,15,1.484,15h15.032
                C17.336,15,18,14.336,18,13.516z"/>
            </svg>
          </label>
  
          <!-- List of navigation links -->
          <div class="trigger">
            <ul class="page-list">
              {% assign nav_pages = site.pages | sort: 'order' %}
              {% for page in nav_pages %}
                {% if page.nav_exclude != true %}
                  <li><a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </nav>
    </div>
  </header>
  