@import "minima";

h2 {
    font-size: 1.8em; /* Adjust the size */
    color: #333; /* Change color */
    font-weight: bold; /* Customize weight */
    margin-bottom: 0px; /* Add margin */
  }