<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TinyTech.News - Your daily source for the latest technology news and insights">
    <title>TinyTech.News - Your Daily Dose of Tech News</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8403341038505461"
     crossorigin="anonymous"></script>
</head>
<body>

    <header>
        {% include header.html %}
    </header>

    <!-- <header class="banner">
        <div class="container header-content">
            <div class="logo-wrapper">
                <img src="{{ '/assets/images/logo200.png' | relative_url }}" alt="Tiny Tech New Logo" class="site-logo">
            </div>
            <div class="header-text">
                <h1 class="animate-fade-in-down">Tech Pulse BLOG</h1>
                <p class="animate-fade-in-up">Your Daily Dose of Tech News and Insights</p>
            </div>
        </div>
    </header> -->

    <main class="container">
        <div class="main-grid">
            <div class="posts-grid" id="recentPosts">
                {{ content }}
            </div>
            <!-- <div class="sidebar">
                &nbsp;Ads
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8403341038505461"
                    crossorigin="anonymous"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8403341038505461"
                    data-ad-slot="3918919544" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
        </div>
    </main>
</body>

</html>