<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Pulse - Your Daily Dose of Tech News</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="banner">
        <div class="container">
            <h1 class="animate-fade-in-down">Tech Pulse</h1>
            <p class="animate-fade-in-up">Your Daily Dose of Tech News and Insights</p>
        </div>
    </header>

    <main class="container">
        <!-- <h2>Recent Posts</h2> -->
        <div class="posts-grid" id="recentPosts">
            {{ content }}
        </div>
    </main>

    <!-- <script src="script.js"></script> -->
</body>
</html>