<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TinyTech.News - Your daily source for the latest technology news and insights">
    <title>TinyTech.News - Your Daily Dose of Tech News</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8403341038505461"
     crossorigin="anonymous"></script>
</head>
<body>

    <header>
        {% include header.html %}
    </header>

    <main class="container">
        <div class="main-grid">
            <div class="posts-grid" id="recentPosts">
                {{ content }}
            </div>
        </div>
    </main>
</body>

</html>